<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= "Message from controller: #{@controller_message}" %>

<%= link_to("Go to index",{:action => 'index', :id => 5, :random => "Ikke"}) %>
